* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*Content*/
  --content-primary: #ffffff;
  --content-secondary: #c7c9cc;
  --content-tertiary: #d9d9d9;
  --content-brand: #c58de7;
  --color-inverse: #030203;
  /*Background*/
  --background-primary: #020202;
  --background-secondary: #111012;
  --background-tertiary: #24222e;
  --background-brand: #c58de7;
  --background-gray: #3d3d3d;
  /*Accent*/
  --accent-pink: #d586e0;
  --accent-blue: #91a1fa;
  --accent-green: rgba(119, 192, 175, 1);
  --accent-lime: #d1dc97;
  --accent-red: #e9a9b3;
  /*Typography*/
  --ff-sora: "Sora", sans-serif;
  --display-lg: 800 72px/130% var(--ff-sora);
  --display-md: 800 40px/130% var(--ff-sora);
  --display-sm: 700 32px/130% var(--ff-sora);
  --ff-mono: "Roboto Mono", monospace;
  --overline: 700 16px/150% var(--ff-mono);
  --ff-flex: "Roboto Flex", sans-serif;
  --p-lg: 500 16px/150% var(--ff-flex);
  --p-md: 500 14px/150% var(--ff-flex);
  --p-sm: 500 12px/150% var(--ff-flex);
  --label-md: 700 20px/150% var(--ff-flex);
  --label-sm: 700 16px/150% var(--ff-flex);
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: repeat url("../assets/bg-shapes.png");
  background-color: var(--background-primary);
}

.topo {
  max-width: 26.563rem;
}

.logo {
  display: flex;
  justify-content: center;
  margin-top: 2.75rem;
}
.grid-container {
  max-width: 26.563rem;
  display: grid;
  padding: 0 2.25rem;
  grid-template-areas:
    "header"
    "content-form"
    "form-results"
    "questions";
}
.header {
  display: grid;
  grid-area: header;
  gap: 0.5rem;
  margin-top: 2.875rem;
}
h1 {
  font: var(--display-md);
  color: var(--content-primary);
  text-transform: uppercase;
}
h2 {
  font: var(--label-md);
  color: var(--content-primary);
}
h3 {
  font: var(--overline);
  color: var(--content-tertiary);
}
p {
  font: var(--p-md);
  color: var(--content-secondary);
}
.p-md {
  font: var(--p-md);
  color: var(--content-brand);
}
.p-sm {
  font: var(--p-sm);
  color: var(--content-secondary);
  margin-left: 1.75rem;
}

/* Form */
.content-form {
  display: none;
  grid-area: content-form;
  margin-top: 2.625rem;
}
form {
  display: flex;
  gap: 0.75rem;
  margin-top: 2.5rem;
}
fieldset {
  border: none;
  display: flex;
}
fieldset legend {
  font: var(--label-md);
  color: var(--content-secondary);
  text-align: center;
}
fieldset:hover legend,
fieldset:focus-within legend {
  color: var(--content-brand);
}

input[type="text"] {
  display: flex;
  width: 5.375rem;
  height: 3.5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.25rem 0.5rem;
  font: var(--display-sm);
  color: var(--content-primary);
  background: var(--background-secondary);
  border-radius: 0.5rem;
  border: 1px solid var(--background-secondary);
}
input[type="text"]:hover {
  background: var(--background-tertiary);
  border: 1px solid transparent;
  border-image: linear-gradient(
    to right,
    var(--accent-green),
    var(--accent-lime),
    var(--accent-red),
    var(--accent-pink),
    var(--accent-blue)
  );
  border-image-slice: 1;
  outline: none;
}
input[type="text"]:focus-within {
  background: var(--background-tertiary);
  border: 2px solid transparent;
  border-radius: 0.5rem;
  border-image: linear-gradient(
    to right,
    var(--accent-green),
    var(--accent-lime),
    var(--accent-red),
    var(--accent-pink),
    var(--accent-blue)
  );
  border-image-slice: 1;
  outline: none;
}

/* Results*/
.form-results {
  grid-area: form-results;
  margin-top: 2.625rem;
  display: grid;
  gap: 2.5rem;
}
.title-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.result {
  display: flex;
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 1.75rem;
  background: var(--content-brand);
  align-items: center;
  justify-content: center;
  margin: auto;
  z-index: 0;

  animation: slideIn-rotate-vanish 3s ease-in-out forwards;
}

@keyframes slideIn-rotate-vanish {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  25% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: scale(1) rotate(180deg);
    opacity: 1;
  }
  100% {
    transform: scale(0.75) rotate(180deg);
    opacity: 0;
  }
}

.result-wrapper {
  position: relative;
  width: 6.25rem;
  height: 6.25rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-number {
  top: 0;
  position: absolute;
  font: 800 64px/150% var(--ff-mono);
  color: var(--color-inverse);
  z-index: 1;
  animation: appear-color 3s ease-in-out forwards;
}
@keyframes appear-color {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  25% {
    transform: scale(1);
    opacity: 1;
  }
  75% {
    color: var(--color-inverse);
  }
  100% {
    color: var(--content-brand);
  }
}

/* Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 20px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--content-tertiary);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 16px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: var(--content-primary);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}
input[type="checkbox"]:checked + .slider {
  background-image: linear-gradient(
    to right,
    var(--accent-pink),
    var(--accent-blue)
  );
}
input[type="checkbox"]:focus + .slider {
  box-shadow: 0 0 1px var(--accent-pink);
}
input[type="checkbox"]:checked + .slider:before {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}
.check {
  display: flex;
  gap: 0.5rem;
  margin-top: 1.25rem;
}

/* Button */
.btn {
  display: flex;
  width: 100%;
  height: 3.5rem;
  padding: 1rem;
  gap: 0.5rem;
  margin-top: 2.5rem;

  font: var(--label-md);
  text-transform: uppercase;
  color: var(--content-primary);
  background: var(--background-tertiary);

  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
}
.btn:hover {
  background: var(--background-secondary);
  border: 1px solid transparent;
  border-image: linear-gradient(
    to right,
    var(--accent-green),
    var(--accent-lime),
    var(--accent-red),
    var(--accent-pink),
    var(--accent-blue)
  );
  border-image-slice: 1;
  outline: none;
}
.btn:focus-within {
  background: var(--background-secondary);
  border: 2px solid transparent;
  border-radius: 0.5rem;
  border-image: linear-gradient(
    to right,
    var(--accent-green),
    var(--accent-lime),
    var(--accent-red),
    var(--accent-pink),
    var(--accent-blue)
  );
  border-image-slice: 1;
  outline: none;
}

#novamente{
  opacity: 0;
  animation: appearBtn 1s ease-in-out forwards;
  animation-delay: 3s;
}

@keyframes appearBtn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* QnA */
.questions {
  margin-top: 2.75rem;
  margin-bottom: 2.75rem;
  grid-area: questions;
}
.question {
  display: flex;
  gap: 0.5rem;
  margin-top: 2.25rem;
}

@media (width >= 64rem) {
  .grid-container {
    max-width: 84.688rem;
    display: grid;
    justify-content: space-between;
    padding: 0 8.375rem;
    grid-template-areas:
      "header content-form form-results"
      "questions content-form form-results";
  }
  .logo {
    margin-top: 4.75rem;
    display: flex;
    margin-right: auto;
  }
  .header {
    gap: 0.75rem;
    margin-top: 5.563rem;
  }
  .content-form {
    margin-top: 8.5rem;
    margin-left: 6.75rem;
  }

  .form-results {
    margin-top: 8.5rem;
    min-width: 30.125rem;
    margin-left: 6rem;
  }

  h1 {
    font: var(--display-lg);
  }
  p {
    font: var(--p-lg);
  }

  .questions {
    margin-right: 7.625rem;
  }
}
